.my_nav{
    height: 46px;
    padding-right:22px ;
}
.team_btn{
    /* filter: drop-shadow(40px 0px 70px rgba(0, 201, 150, 0.05))drop-shadow(-40px 100px 70px rgba(0, 201, 150, 0.05)); */
    color: #89ebd2;
    border: none;
    background: transparent;
}
.name{
    width: 105px;
    padding-left: 8px;
}
.email{
    padding-left: 8px;
}

.my_form{
    margin-top: 150px;
}
.join_btn{
    color: white;
    background-color: #00c995; border: transparent;
    height: 30px; width: 100px;
}
.atm{
    height: 500px;
}
.partner{
    margin-top: -50px;
    margin-right: -60px;
}
.water{
    width: 400px;
    height: 90%;
}

.rect{
    width: 460px;
    height: 50vh;
}
.tab_row{
    height: 400px;
    width: 65%;border: 1px solid black;
    margin: auto;
    padding: 16px;
}
.fx_rate{
    margin-top: 50px;
}
.homepage{
    width: 250px; height: 90%;
}
.top_footer{
    background: url(/Rectangle\ 2925.png) center no-repeat ;
    background-size: cover;
    min-height: 40vh; width: 70vw;
}
.building{
    color: white; margin-left: 80px;
    margin-top: 30px;
}
.build_btn{
    background: transparent; border: 1px grey solid; color: white;
    padding: 12px;
}
.build_btn:hover{
    background-color: black;
    animation: transit infinite 8s ;
}
.build{
    margin-left: 80px;
    margin-top: 60px;
}
.build_cont{
    margin: auto;
}
.grp{
    width: 70vw;
}
.network{
    list-style-type: none;
}

.foot_join{
    background-color: grey;
    border-radius: 25px;
    width: 120px; height: 35px; border: 1px solid black;
    margin-top: 20px;
    margin-left: -50px;
    
}
@keyframes transit{
    10%{
        color: grey;
        
    }
    50%{
        color: black;
    }
    80%{
        color: red;
    }
}

